<a href="https://colab.research.google.com/github/smallriver0316/python-datascience-study/blob/development/planets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [4]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [ ]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
# DataFrameを出力
planets.groupby('method')

In [ ]:
# Serieseを出力
planets.groupby('method')['orbital_period']

In [ ]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [ ]:
# グループごとの繰り返し処理
# groupby()による結果はDataFrame
# groupby()の集約の軸となるmethodごとのデータの要約としてshapeを表示
for (method, group) in planets.groupby('method'):
  print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [ ]:
planets.groupby('method')['year'].describe()

                               count         mean  ...      75%     max
method                                             ...
Astrometry                       2.0  2011.500000  ...  2012.25  2013.0
Eclipse Timing Variations        9.0  2010.000000  ...  2011.00  2012.0
Imaging                         38.0  2009.131579  ...  2011.00  2013.0
Microlensing                    23.0  2009.782609  ...  2012.00  2013.0
Orbital Brightness Modulation    3.0  2011.666667  ...  2012.00  2013.0
Pulsar Timing                    5.0  1998.400000  ...  2003.00  2011.0
Pulsation Timing Variations      1.0  2007.000000  ...  2007.00  2007.0
Radial Velocity                553.0  2007.518987  ...  2011.00  2014.0
Transit                        397.0  2011.236776  ...  2013.00  2014.0
Transit Timing Variations        4.0  2012.500000  ...  2013.25  2014.0

[10 rows x 8 columns]

In [ ]:
planets.groupby('method')['year', 'distance'].aggregate(['min', np.median, max])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                               year               distance
                                min  median   max      min    median      max
method
Astrometry                     2010  2011.5  2013    14.98    17.875    20.77
Eclipse Timing Variations      2008  2010.0  2012   130.72   315.360   500.00
Imaging                        2004  2009.0  2013     7.69    40.395   165.00
Microlensing                   2004  2010.0  2013  1760.00  3840.000  7720.00
Orbital Brightness Modulation  2011  2011.0  2013  1180.00  1180.000  1180.00
Pulsar Timing                  1992  1994.0  2011  1200.00  1200.000  1200.00
Pulsation Timing Variations    2007  2007.0  2007      NaN       NaN      NaN
Radial Velocity                1989  2009.0  2014     1.35    40.445   354.00
Transit                        2002  2012.0  2014    38.00   341.000  8500.00
Transit Timing Variations      2011  2012.5  2014   339.00   855.000  2119.00


上記から考察できること
*  大部分の惑星はRadical VelocityとTransitという手法で発見されている
*  Radical Velocityは1989年からずっと使われており、惑星を多く見つけられているの長い期間使われているためとも考えられる
* TransitはRadical Velocityに比べて利用されだしたのが近年になる
* TransitはRadical Velocityに比べて、遠距離の惑星を見つけられている
* 遠距離の惑星を見つけられているのはTransitとMicrolensingで、Microlensingは遠距離の惑星探索に特化していると考えられる

In [11]:
# 10年ごとの観測手段ごとに外惑星数をカウント
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
# decadeはplanets['year]から生成したDataFrameだが、groupby()に含めることで、decade軸で集約することができる
planets.groupby(['method', decade])['number'].sum()

method                         decade
Astrometry                     2010s       2
Eclipse Timing Variations      2000s       5
                               2010s      10
Imaging                        2000s      29
                               2010s      21
Microlensing                   2000s      12
                               2010s      15
Orbital Brightness Modulation  2010s       5
Pulsar Timing                  1990s       9
                               2000s       1
                               2010s       1
Pulsation Timing Variations    2000s       1
Radial Velocity                1980s       1
                               1990s      52
                               2000s     475
                               2010s     424
Transit                        2000s      64
                               2010s     712
Transit Timing Variations      2010s       9
Name: number, dtype: int64

In [9]:
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0